div{
  height: 200px;
  width: 200px;
  margin-top: 200px;
  margin-left: 200px;
  border: 1px solid black;
  transform: skew(4deg) rotateZ(10deg) translate(-50%, -50%);
  /* transform: rotateZ(10deg); */
}

div:hover{
  transform: scale(2);
}